<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link  rel="stylesheet" href="/styles/style.css">
    <script type="text/javascript" src="../js/main.js"> </script>

  </head>
  <body >
    {{>header}}

    <div class="cp">
      <a class="cp-sign" href="signup.html"> SIGN UP </a>
      <a class="cp-sign" href="signin.html"> SIGN IN </a>
    </div>

    <div id="dd" class="container">

    </div>

    <div class="howitworks">
      <h2>HOW IT WORKS </h2>
      <div class="story">

        <div class="storyicon">
          <img src="img/reg.svg" alt="">
          <p>Create Your Account</p>
        </div>

        <div class="storyicon">
          <img src="img/order.svg" alt="">
          <p>Make Your Order </p>
        </div>

        <div class="storyicon">
          <img src="img/enj.svg" alt="">
          <p>Enjoy Your Meal</p>
        </div>

      </div>
    </div>

   {{>footer}}
  </body>
</html>
